
nav{ 
float: left
}
body{ 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: white;
background-color: black;
background-image: url(https://www.caseware.nl/UserFiles/artikel_Hoe_AI_kan_helpen_bij_fraudeopsporing_en_financi_le_naleving.jpg);

}
h1{
  font-style: italic;
  font-weight: bolder
}
.main-nav{
	background-image:url(https://www.caseware.nl/UserFiles/artikel_Hoe_AI_kan_helpen_bij_fraudeopsporing_en_financi_le_naleving.jpg);
	background-repeat:no-repeat;
	background-size:cover;	background-position:center -60px; padding: 1000px 20px 0px 20px;
}
.page {
	margin: 40px auto;
	border: 2px solid black;
	border-radius: 15px;
	background-color: white;
	overflow: hidden;
	max-width: 800px
}
